{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<form method="post">
    <div class="form-group email-group {{ error ? 'is-invalid': '' }}">
        <label class="form-label email-label" for="email">Entrez votre adresse email</label>
        <input class="form-control email-control" type="text" name="email" id="email">
        {% if error %}
            <div class="form-error email-error">{{ error }}</div>        
        {% endif %}
    </div>
    <button class="form-button auth-form-button" type="submit">Valider</button>
</form>
{% endblock %}
