{% extends "email/base.html.twig" %}

{% block title %}Commande annulée{% endblock %}

{% block body %}
    <h1>Votre commande a été annulée</h1>

    <p>Votre commande n°{{ purchase.ref }} a été annulée</p>


{% endblock %}