{% extends "email/base.html.twig" %}

{% block title %}Commande livrée{% endblock %}

{% block body %}
    <h1>Votre commande a été livrée</h1>

    <p>Votre commande n°{{ purchase.ref }} a été livrée</p>


{% endblock %}