{% extends "email/base.html.twig" %}

{% block title %}Commande reçue{% endblock %}

{% block body %}
    <h1>Votre commande est validée</h1>

    <p>Nous avons bien reçu votre réglement pour la commande n°{{ purchase.ref }}</p>


{% endblock %}