{% extends "email/base.html.twig" %}

{% block title %}Commande expédiée{% endblock %}

{% block body %}
    <h1>Votre commande a été expédiée</h1>

    <p>Votre commande n°{{ purchase.ref }} a été expédiée</p>


{% endblock %}