
<div class="admin-product-show-row">
    <div class="admin-product-show-row-label">{{ label }}</div>
    <div class="admin-product-show-row-text{% if name is defined %} {{name}}{% endif %}">{{ value }}</div>
</div>
