<header class="admin-header">
    <div class="admin-header-top">
        <a href="{{ path('admin_home') }}">
            <img class="admin-header-logo" src="/img/logo.png" alt="logo du site" />
        </a>
    </div>
</header>